.nav {
    grid-area: nav;
    background-color: moccasin;
    padding: 20px;
}

/*.nav {
    display: grid;
    grid-auto-rows: 1fr 1fr;
}*/

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: blueviolet;
}

.list {
    padding-left: 30px;
}
