.item img {
    width: 1000px;
    height: 300px;
}

.profileView {
    padding: 10px;
}

.smile img {
    width: 30px;
    height: 30px;  
    border-radius: 20px;
}

.contacts {
    padding-left: 20px;
}